.send-button, 
.clear-button{
    padding: 12px 20px;
    margin-left: 5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.send-button{
    background-color: rgb(25, 135, 84);
    color: white;
}
.clear-button{
    background-color: rgb(230, 230, 230);
}

.chat-input-container{
    display: flex;
    margin: 20px 0;
}
.chat-input{
    font-size: 15px;
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 10px;
    border-width: 1px;
    margin-right: 10px;
}